body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  margin: 0 auto;
}

.main {
  width: 80%;
  min-height: 63vh;
  margin: 0 auto;
}

.posts {
  width: 80%;
  min-height: 63vh;  
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 675px) {
  .main {
    width: 90%;
  }
  .posts {
    width: 90%
  }
}


@import url(components/Header/Header.css);
@import url(components/Form/form.css);
@import url(components/UserList/Table/table.css);
@import url(components/Footer/footer.css);